.navbar{
    font-family: "Titillium Web", sans-serif !important;
    font-weight: 600;
    font-style: normal;
    height: 5rem;

}

.navbar-brand{
    margin-left: 2rem;
}
  
.nav-link{
    margin-left: 2%; 
    color: black !important;
}